html,body{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}
*{box-sizing:border-box}
img{width:100%; vertical-align:top;}
a{text-decoration: none; color:#555;}
h1, h2, h3, h4, p, figure{margin:0;}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');

/* font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */